@use "color" as *;
@use "font" as *;
@use "breakpoints" as *;

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-ja;
  color: $color-base;
  background: $background-base;
}

.btn {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.48px;
  border-radius: 60px;
  border: 2px solid $color-base;
  background: #fff;
  padding: 8px 28px;

  &-black {
    color: #fff;
    background: $color-base;
    border: 2px solid #fff;
  }
}
// header
.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 15px;

  @include mq("md") {
    max-width: calc(1140px + 30px);
    margin: 0 auto;
  }
}

.header__logo {
  width: 100px;

  @include mq("md") {
    width: 135px;
  }
}

.header__nav {
  display: none;

  @include mq("md") {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header__link {
  @include mq("md") {
    font-weight: 700;
    letter-spacing: 0.48px;
  }
}

.header__btn {
}

.header__drawer-open {
  @include mq("md") {
    display: none;
  }
}

// ドロワーボタン
.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: $color-base;

  &:nth-of-type(1) {
  }
  &:nth-of-type(2) {
    top: 9px;
  }
  &:nth-of-type(3) {
    top: 18px;
  }
}

// mv
.mv {
  max-width: calc(100% - 30px);
  background: $color-gradation;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    max-width: calc(100% - 60px);
    border-radius: 30px;
  }
}

.mv__inner {
  padding: 50px 20px 255px;
  position: relative;

  @include mq("md") {
    padding: 110px 30px 109px;
    max-width: calc(1040px + 60px);
    margin-left: auto;
    margin-right: auto;
  }
}

.mv__contents {
  text-align: center;

  @include mq("md") {
    text-align: left;
  }
}

.mv__lead {
}

.mv__lead1,
.mv__lead2 {
  font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
    margin-left: 0;
    margin-right: 0;
  }
}

.mv__lead2 {
  margin-top: 8px;

  @include mq("md") {
    margin-top: 14px;
  }
}

.mv__text {
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 26px;

  @include mq("md") {
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 20px;
  }
}

.mv__btn {
  margin-top: 22px;

  @include mq("md") {
    margin-top: 30px;
  }
}

.mv__img {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -108px;
  text-align: center;

  @include mq("md") {
    bottom: -88px;
    text-align: right;
    width: calc(600px / 1100px * 100%);
  }
  img {
    width: 345px;

    @include mq("md") {
      width: 600px;
    }
  }
}
