@use "color" as *;
@use "font" as *;
@use "breakpoints" as *;

body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: $font-family-ja;
    color: $color-base;
    background: $background-base;
}

// header
.header {

}

.header__inner {
display: flex;
justify-content: space-between;
align-items: center;
padding: 22px 15px;
}

.header__logo {
    width: 100px;
}

.header__nav {
display: none;
}

.header__link {

}

.header__btn {

}

.header__drawer-open {

}

// ドロワーボタン
.drawer-icon {
width: 36px;
height: 21px;
position: relative;
}

.drawer-icon__bar {
position: absolute;
top: 0;
left: 0;
width: 36px;
height: 3px;
border-radius: 6px;
background: $color-base;

&:nth-of-type(1) {
    
}
&:nth-of-type(2) {
top: 9px;
}
&:nth-of-type(3) {
top: 18px;
}
}