@use "sass:map";

$breakpoints: (
    "sp": "screen and (max-width: 767px)",
    "tab": "screen and (min-width: 768px)",
    "pc": "screen and (min-width: 1024px)",
 ) !default;

@mixin mq($breakpoint: sm) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}