@use "sass:map";

$breakpoints: (
    "sm": "screen and (max-width: 767px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1024px)",
 ) !default;

@mixin mq($breakpoint: sm) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}