@use "color" as *;
@use "breakpoints" as *;

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: $cl-black;

  &.is-fixed {
    overflow: hidden;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  width: 160px;
  margin: 0 auto;

  &--contact {
    background-color: $white;

    .button__text {
      color: $bg-dark;
    }
  }

  &--X {
    border: 1px solid $white;
  }
}

.button__icon {
}

.button__icon-path {
  fill: $white;

  &--contact {
    fill: $bg-dark;
  }
}

.button__text {
  color: $white;
  font-size: 16px;
  letter-spacing: 0.08em;
}

// header
.header {
  background-color: $bg-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  position: relative;
}

.header__logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  color: $white;
}

.header__humberger {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 36px;
  background: url(../img/bg_menu.png) center center no-repeat;
  background-size: contain;

  &.is-checked {
    background: url(../img/bg_menu-close.png) center center no-repeat;
    background-size: contain;
  }
}

.header__contents {
  height: calc(100vh - 86px);
  border-top: 1px solid $white;
  padding-top: 60px;
  display: none;
}

.header__nav {
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header__nav-item {
}

.header__nav-link {
}

// fv
.fv {
  position: relative;
}

.fv__img {
}

.fv__text {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 209px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: cover;
  padding: 32px;
}

.fv__heading {
  &-main {
    display: block;
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  &-sub {
    display: block;
    font-size: 14px;
    margin-top: 12px;
  }
}

// section
.section {
  padding: 48px 0;
}

.section__inner {
  padding: 0 32px;
}

.section__head {
  margin-bottom: 32px;

  &-main {
    display: block;
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  &-sub {
    display: block;
    font-size: 11px;
  }
}

.section__lead {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}

// service
.service__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.service__item {
  &-img {
    text-align: center;
    margin-bottom: 14px;
  }

  &-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// works
.works {
  background-color: $bg-light;
}

.works__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.works__item {
  &-img {
    margin-bottom: 12px;

    img {
      box-shadow: 0 4px 15px rgba($black, 0.15);
    }
  }

  &-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  &-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

// about
.about {
}

.about__container {
}

.about__img {
  margin-bottom: 32px;
  
  img {
    box-shadow: 0 4px 15px rgba($black, 0.15);
  }
}

.about__contents {
}

.about__text {
  font-size: 16px;
  line-height: 1.6;

  & + & {
    margin-top: 1em;
  }
}
