@use "color" as *;
@use "breakpoints" as *;

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: $cl-black;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  width: 160px;
  margin: 0 auto;

  &--contact {
    background-color: $white;

    .button__text {
      color: $bg-dark;
    }
  }

  &--X {
    border: 1px solid $white;
  }
}

.button__icon {
}

.button__icon-path {
  fill: $white;

  &--contact {
    fill: $bg-dark;
  }
}

.button__text {
  color: $white;
  font-size: 16px;
  letter-spacing: 0.08em;
}

// header
.header {
  background-color: $bg-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  position: relative;
}

.header__logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  color: $white;
}

.header__humberger {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 36px;
  background: url(../img/bg_menu.png) center center no-repeat;
  background-size: contain;
}

.header__contents {
  height: calc(100vh - 86px);
  border-top: 1px solid $white;
  padding-top: 60px;
}

.header__nav {
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header__nav-item {
}

.header__nav-link {
}
