@use "color" as *;
@use "breakpoints" as *;

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: $cl-black;

  &.is-fixed {
    overflow: hidden;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;

  @include mq("md") {
    transition:
      background 0.3s,
      color 0.3s,
      opacity 0.3s;

    &:hover {
      background-color: $white;

      .button__icon-path {
        fill: $bg-dark;
      }

      .button__text {
        color: $bg-dark;
      }
    }
  }

  &--contact {
    background-color: $white;

    @include mq("md") {
      &:hover {
        opacity: 0.7;
      }
    }

    .button__text {
      color: $bg-dark;
    }
  }

  &--border {
    border: 1px solid $white;
  }
}

.button__icon {
  width: 24px;
  display: flex;
  align-items: center;
}

.button__icon-path {
  fill: $white;

  &--contact {
    fill: $bg-dark;
  }
}

.button__text {
  color: $white;
  font-size: 16px;
  letter-spacing: 0.08em;
}

.wrapper {
  @include mq("md") {
    display: flex;
  }
}

.main {
  @include mq("md") {
    flex-basis: 79.2%;
  }
}
// header
.header {
  background-color: $bg-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include mq("md") {
    position: relative;
    flex-basis: 20.8%;
    padding: 50px 20px;
  }
}

.header__container {
  position: relative;

  @include mq("md") {
    width: 160px;
    margin: 0 auto;
    position: sticky;
    top: 50px;
  }
}

.header__logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  color: $white;

  @include mq("md") {
    font-size: 20px;
    letter-spacing: 0.12em;
  }
}

.header__humberger {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 36px;
  background: url(../img/bg_menu.png) center center no-repeat;
  background-size: contain;

  @include mq("md") {
    display: none;
  }

  &.is-checked {
    background: url(../img/bg_menu-close.png) center center no-repeat;
    background-size: contain;
  }
}

.header__contents {
  height: calc(100vh - 86px);
  border-top: 1px solid $white;
  padding-top: 60px;
  display: none;

  @include mq("md") {
    display: block;
    border: none;
  }
}

.header__nav {
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header__nav-item {
}

.header__nav-link {
}

// fv
.fv {
  position: relative;
}

.fv__img {
}

.fv__text {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 209px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: cover;
  padding: 32px;

  @include mq("md") {
    background: url(../img/bg_fv.png) center center no-repeat;
    background-size: cover;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    width: 568px;
    height: 174px;
    padding-top: 24px;
    padding-left: 96px;
  }

  @include mq("lg") {
    bottom: 100px;
  }
}

.fv__heading {
  &-main {
    display: block;
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  &-sub {
    display: block;
    font-size: 14px;
    margin-top: 12px;
  }
}

// section
.section {
  padding: 48px 0;
}

.section__inner {
  padding: 0 32px;

  @include mq("md") {
    max-width: calc(880px + 32px * 2);
    margin: 0 auto;
  }
}

.section__head {
  margin-bottom: 32px;

  @include mq("md") {
    margin-bottom: 24px;
  }

  &-main {
    display: block;
    font-size: 40px;
    letter-spacing: 0.1em;

    @include mq("md") {
      font-size: 50px;
    }

    @include mq("lg") {
      font-size: 60px;
    }
  }

  &-sub {
    display: block;
    font-size: 11px;
  }

  &--center {
    text-align: center;
  }
}

.section__lead {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}

// service
.service__list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.service__item {
  &-img {
    text-align: center;
    margin-bottom: 14px;

    img {
      width: 86px;
      height: 69px;
    }
  }

  &-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// works
.works {
  background-color: $bg-light;
}

.works__list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.works__item {
  &-img {
    margin-bottom: 12px;

    img {
      box-shadow: 0 4px 15px rgba($black, 0.15);
    }
  }

  &-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  &-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

// about
.about {
}

.about__container {

  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
}

.about__img {
  margin-bottom: 32px;

  img {
    box-shadow: 0 4px 15px rgba($black, 0.15);
  }
}

.about__contents {
}

.about__text {
  font-size: 16px;
  line-height: 1.6;

  & + & {
    margin-top: 1em;
  }
}

// flow
.flow {
  background-color: $bg-light;
}

.flow__list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 64px;

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px 16px;
  }

  @include mq("lg") {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

.flow__item {
  position: relative;
  border: 1px solid $cl-border;
  padding: 46px 16px 24px;

  &-num {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: $bg-dark;
    color: $white;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-img {
    margin-bottom: 24px;
    text-align: center;

    img {
      width: 66px;
      height: 66px;
    }
  }

  &-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// message
.message {
}

.message__container {
    @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }

}

.message__img {
  margin-bottom: 32px;

  img {
    box-shadow: 0 4px 15px rgba($black, 0.15);
  }
}

.message__contents {
}

.message__text {
  font-size: 16px;
  line-height: 1.6;
}

// page-bottom
.page-bottom {
  color: $white;

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-bottom__item {
  padding: 40px;

  @include mq("md") {
    padding: 54px 10px;
  }

  &--contact {
    background-color: $bg-gray-l;
  }

  &--X {
    background-color: $bg-dark;
  }
}

.page-bottom__btn {
}

// footer
.footer {
  text-align: center;
  padding: 10px;
}

.footer-copy {
  font-size: 11px;
  font-family: "Noto Sans JP", sans-serif;
}
