body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: #333;
}
body.is-fixed {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 6px 10px;
  width: 160px;
  margin: 0 auto;
}
.button--contact {
  background-color: #fff;
}
.button--contact .button__text {
  color: #4a4a4a;
}
.button--X {
  border: 1px solid #fff;
}

.button__icon-path {
  fill: #fff;
}
.button__icon-path--contact {
  fill: #4a4a4a;
}

.button__text {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.08em;
}

.header {
  background-color: #4a4a4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  position: relative;
}

.header__logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  color: #fff;
}

.header__humberger {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 36px;
  background: url(../img/bg_menu.png) center center no-repeat;
  background-size: contain;
}
.header__humberger.is-checked {
  background: url(../img/bg_menu-close.png) center center no-repeat;
  background-size: contain;
}

.header__contents {
  height: calc(100vh - 86px);
  border-top: 1px solid #fff;
  padding-top: 60px;
  display: none;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.fv {
  position: relative;
}

.fv__text {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 209px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: cover;
  padding: 32px;
}

.fv__heading-main {
  display: block;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.fv__heading-sub {
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.section {
  padding: 48px 0;
}

.section__inner {
  padding: 0 32px;
}

.section__head {
  margin-bottom: 32px;
}
.section__head-main {
  display: block;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.section__head-sub {
  display: block;
  font-size: 11px;
}

.section__lead {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.service__item-img {
  text-align: center;
  margin-bottom: 14px;
}
.service__item-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.service__item-text {
  font-size: 14px;
  line-height: 1.6;
}

.works {
  background-color: #fafafa;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.works__item-img {
  margin-bottom: 12px;
}
.works__item-img img {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.works__item-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.works__item-link {
  text-decoration: underline;
  font-size: 14px;
}

.about__img {
  margin-bottom: 32px;
}
.about__img img {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.about__text {
  font-size: 16px;
  line-height: 1.6;
}
.about__text + .about__text {
  margin-top: 1em;
}