body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: #333;
}
body.is-fixed {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .button {
    -webkit-transition: background 0.3s, color 0.3s, opacity 0.3s;
    transition: background 0.3s, color 0.3s, opacity 0.3s;
  }
  .button:hover {
    background-color: #fff;
  }
  .button:hover .button__icon-path {
    fill: #4a4a4a;
  }
  .button:hover .button__text {
    color: #4a4a4a;
  }
}
.button--contact {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .button--contact:hover {
    opacity: 0.7;
  }
}
.button--contact .button__text {
  color: #4a4a4a;
}
.button--border {
  border: 1px solid #fff;
}

.button__icon {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__icon-path {
  fill: #fff;
}
.button__icon-path--contact {
  fill: #4a4a4a;
}

.button__text {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.08em;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .main {
    -ms-flex-preferred-size: 79.2%;
        flex-basis: 79.2%;
  }
}

.header {
  background-color: #4a4a4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
    -ms-flex-preferred-size: 20.8%;
        flex-basis: 20.8%;
    padding: 50px 20px;
  }
}

.header__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 160px;
    margin: 0 auto;
    position: sticky;
    top: 50px;
  }
}

.header__logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 20px;
    letter-spacing: 0.12em;
  }
}

.header__humberger {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 36px;
  background: url(../img/bg_menu.png) center center no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .header__humberger {
    display: none;
  }
}
.header__humberger.is-checked {
  background: url(../img/bg_menu-close.png) center center no-repeat;
  background-size: contain;
}

.header__contents {
  height: calc(100vh - 86px);
  border-top: 1px solid #fff;
  padding-top: 60px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contents {
    display: block;
    border: none;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.fv {
  position: relative;
}

.fv__text {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 209px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: cover;
  padding: 32px;
}
@media screen and (min-width: 768px) {
  .fv__text {
    background: url(../img/bg_fv.png) center center no-repeat;
    background-size: cover;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    left: 0;
    width: 568px;
    height: 174px;
    padding-top: 24px;
    padding-left: 96px;
  }
}
@media screen and (min-width: 1024px) {
  .fv__text {
    bottom: 100px;
  }
}

.fv__heading-main {
  display: block;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.fv__heading-sub {
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.section {
  padding: 48px 0;
}

.section__inner {
  padding: 0 32px;
}
@media screen and (min-width: 768px) {
  .section__inner {
    max-width: 944px;
    margin: 0 auto;
  }
}

.section__head {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .section__head {
    margin-bottom: 24px;
  }
}
.section__head-main {
  display: block;
  font-size: 40px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .section__head-main {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .section__head-main {
    font-size: 60px;
  }
}
.section__head-sub {
  display: block;
  font-size: 11px;
}
.section__head--center {
  text-align: center;
}

.section__lead {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.service__item-img {
  text-align: center;
  margin-bottom: 14px;
}
.service__item-img img {
  width: 86px;
  height: 69px;
}
.service__item-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.service__item-text {
  font-size: 14px;
  line-height: 1.6;
}

.works {
  background-color: #fafafa;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .works__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.works__item-img {
  margin-bottom: 12px;
}
.works__item-img img {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.works__item-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.works__item-link {
  text-decoration: underline;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

.about__img {
  margin-bottom: 32px;
}
.about__img img {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.about__text {
  font-size: 16px;
  line-height: 1.6;
}
.about__text + .about__text {
  margin-top: 1em;
}

.flow {
  background-color: #fafafa;
}

.flow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .flow__list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px 16px;
  }
}
@media screen and (min-width: 1024px) {
  .flow__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

.flow__item {
  position: relative;
  border: 1px solid #808080;
  padding: 46px 16px 24px;
}
.flow__item-num {
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
  background-color: #4a4a4a;
  color: #fff;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flow__item-img {
  margin-bottom: 24px;
  text-align: center;
}
.flow__item-img img {
  width: 66px;
  height: 66px;
}
.flow__item-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.flow__item-text {
  font-size: 14px;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .message__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

.message__img {
  margin-bottom: 32px;
}
.message__img img {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.message__text {
  font-size: 16px;
  line-height: 1.6;
}

.page-bottom {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-bottom__item {
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .page-bottom__item {
    padding: 54px 10px;
  }
}
.page-bottom__item--contact {
  background-color: #6f6f6f;
}
.page-bottom__item--X {
  background-color: #4a4a4a;
}

.footer {
  text-align: center;
  padding: 10px;
}

.footer-copy {
  font-size: 11px;
  font-family: "Noto Sans JP", sans-serif;
}